*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252222;
}

#card{
    height: 250px;
    width: 400px;
    background-color: teal;
    border-radius: 15px;
}
#outer{
    height: 15px;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
    margin-top: 20px;
}
#inner{
    height: 100%;
    width: 0%;
    background-color: rgb(15, 168, 87);
    border-radius: 10px;
}
h2{
    color: white;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}