*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

h2{
    margin-top: 20px;
    font-size: 50px;
}
#ince{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}
#dec{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
}