*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    cursor: none;
   
}
main{
    height: 100%;
    width: 100%;
    background-color: black;


}
img{
    height: 100px;
    width: 100px;
    position: fixed;
    transform: translate(-50%,-50%);    
    
}