*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    cursor: none;
   
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(221, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;

}
 h2{
    height:200px;
    width: 200px;
    color: white;
    text-align: center;
    background-color: #333;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    border-radius: 10px;
}
