*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 300px;
    /* width: 200px; */
    background-color: white;
    border-radius: 15px;
    position: relative;
}
.card img{
    height: 70%;
    width: 100%;
    padding: 20px;
    object-fit: cover;
  border-radius: 5px;
}
.card #heart{
    /* font-size: 30px; */
    color:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: cubic-bezier(.5,.97,.95,.89) 0.3s;
    background-image: url(https://www.pngall.com/wp-content/uploads/15/Instagram-Like-PNG-Free-Image.png);
    background-size: cover;
    font-size: 50px;
    
}
.card h2{
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}